<div id="submenu">
	<ul>
		<% if collection.count > 0 %>
		<li><%= link_to '(+) Adicionar '+collection.first.class.human_name.titleize, new_resource_path %></li>
		<% else %>
		<li><%= link_to '(+) Adicionar', new_resource_path %></li>
		<% end %>
	</ul>
</div>
