* {
	margin:0;
	padding:0;
}

div#user_nav {
	float: right;
}


hr {
	display: none;
}

body {
	text-align:left;
}

div#wrap {
	width: 800px;
	background-color: #F9F9F9;
	font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	
}

h1#logo {
	text-indent: -9999px;
	overflow: hidden;
	background: url("/images/logotipo_web.jpg") no-repeat top center;
	width: 222px;
	height: 46px;
	float: left;
}

div#top {
	height: 100px;
	padding-bottom: 50px;
	padding: 20px;
}

div#menu {
	margin-top: 5px;
	border-top: 3px solid #d2d2d2;
	padding-top: 5px;
	height: 20px;
	color: #848484;
}

div#submenu {
	margin-bottom: 30px;
}

div#menu ul li{
	display: inline;
	margin-right: 10px;
	margin-bottom: 3px;
}

div#submenu ul li{
	display: inline;
	margin-right: 10px;
	color: black;
}


div#menu .active{
	border-bottom: 2px solid #d2d2d2;	
	font-weight: bold;
}

div#submenu .active{
	font-weight: bold;
}


div#content {
	width: 700px;
	height: auto;
	display: block;
	background-color: #EEEEEE;
	color: #9F9F9F;
	padding: 20px;
	margin-left: 20px;
}

div#content h2 {
	margin-bottom: 30px;
}

p.big_text {
	font-size: 30px;
	color:black;
}

div.main_box {
	float:left;
}

div.control_box {
	float:right;
}

.clear {
	clear:both;
}

.list_item {
	width: 500px;
	border-top: 2px solid #d2d2d2;
	margin-bottom: 10px;
	padding-top: 10px;
}

.item_main {
	float: left;
}

.item_control {
	float: right;
}

.simple_form label {
	float: left;
	width: 100px;
	text-align: right;
	margin: 2px 10px;
}

.simple_form div {
	margin-bottom: 10px;
}

.simple_form input[type='submit'] {
	margin-left: 105px;
}

.simple_form div.boolean label {
	float: none;
	margin: 0;
}