ul, li, p {
	margin:0px;
	padding:0px;
}


hr {
	display: none;
}

body {
	background-color: #F9F9F9;
	font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
}

div#wrap {
	width:800px;
	
}

h1#logo {
	text-indent: -4000px;
	background-image: url("/images/logotipo_web.jpg");
	width:222px;
	height:46px;
}

div#top {
	height: 100px;
//	background-color: blue;
	padding-bottom: 50px;
	margin-left: 20px;
}

div#menu {
	border-top: 3px solid #d2d2d2;	
	padding-top: 5px;
	height: 20px;
	color: #848484;
	clear:both;
}

div#submenu {
	margin-bottom:30px;
}

div#menu ul li{
	display: inline;
	margin-right:10px;
	margin-bottom:3px;
}

div#submenu ul li{
	display: inline;
	margin-right:10px;
	color:black;
}


div#menu .active{
	border-bottom: 2px solid #d2d2d2;	
	font-weight:bold;
}

div#submenu .active{
	font-weight:bold;
}


div#content {
	width: 800px;
	height: auto;
	display: block;
	background-color:#EEEEEE;
	color: #9F9F9F;
	padding: 20px;
	margin-left: 20px;
}

p.big_text {
	font-size: 30px;
	color:black;
}

div.main_box {
	float:left;
}

div.control_box {
	float:right;
}

.clear_both {
	clear:both;
}

.list_item {
	width:500px;
	border-top:2px solid #d2d2d2;
	margin-bottom:10px;
	padding-top:10px;
}

.item_main {
	float:left;
}

.item_control {
	float:right;
}